mixin news__item(href, imgsrc, imgsrcset, imgalt, imgwidth, imgheight, title, titledecor)

        article.news__item
          a.news__link(href=href)
            img.news__img(src=imgsrc, srcset=imgsrcset, alt=imgalt, width=imgwidth, height=imgheight)
          .news__description
            h3.news__title=title
              span.news__title--decoration=titledecor