mixin tours__card(href, imgsrc, imgsrcset, imgalt, imgwidth, imgheight, subtitle, title, date)
    
    .tours__card
        a.tours__link-img(href=href)
            img.tours__img(src=imgsrc, srcset=imgsrcset, alt=imgalt, width=imgwidth, height=imgheight)
        p.tours__subtitle=subtitle
        h3.tours__title=title
        .tours__details
            p.tours__date=date
            +btn('#', 'Tickets')(class="button tours__button")